.counter {
    border: 2px solid #2a8686;
    border-radius: 20px;
    margin: 20px;
    background-color: #93d1d1;
    width: 300px;
    height: 150px;
}
.btn__container {
    margin-left: 85px;
}
.control__btn{
    text-align: center;
}

.send {
    width: 170px;
    height: 45px;
}

.show {
    width: 170px;
    height: 45px;
}
